@use "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 1rem;

    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --border: 240 5% 26%;

    --focus: var(--accent);

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --card: var(--background);
    --card-foreground: var(--muted-foreground);

    --popover: var(--muted);
    --popover-foreground: var(--muted-foreground);

    --primary: var(--foreground);
    --primary-foreground: var(--background);

    --secondary: var(--muted);
    --secondary-foreground: var(--muted-foreground);

    --accent-background: 242 47% 34%;
    --accent: 239 84% 67%; // Indigo 500
    --accent-foreground: 226 100% 94%;

    --informative-background: 202 80% 24%;
    --informative: 199 89% 48%;
    --informative-foreground: 204 94% 94%;

    --successful-background: 164 86% 16%;
    --successful: 160 84% 39%;
    --successful-foreground: 149 80% 90%;

    --cautionary-background: 22 78% 26%;
    --cautionary: 38 92% 50%;
    --cautionary-foreground: 48 96% 89%;

    --destructive-background: 342 75% 30%;
    --destructive: 350 89% 60%;
    --destructive-foreground: 356 100% 95%;

    @media (prefers-color-scheme: light) {
      --background: 240 6% 90%;
      --foreground: 240 10% 4%;

      --border: 240 5% 84%;

      --muted: 0 0% 98%;
      --muted-foreground: 240 5% 34%;
    }
  }
}

@layer utilities {
  .rich-text {
    @apply 
      prose
      prose-accent
      prose-blockquote:border-l-accent
      prose-headings:scroll-my-36
      prose-headings:text-foreground
  }

  .no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
