@use "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;

    --background: 240 10% 4%; // Zinc 950
    --foreground: 0 0% 98%; // Zinc 50

    --border: 240 4% 16%; // Zinc 800

    --input: var(--border);

    --ring: var(--accent);

    --muted: 240 6% 10%; // Zinc 900
    --muted-foreground: 240 5% 65%; // Zinc 400

    --card: var(--background);
    --card-foreground: var(--muted-foreground);

    --popover: var(--muted);
    --popover-foreground: var(--muted-foreground);

    --primary: var(--foreground);
    --primary-foreground: var(--background);

    --secondary: var(--muted);
    --secondary-foreground: var(--muted-foreground);

    --accent: 234 89% 74%; // Indigo 400
    --accent-foreground: var(--background);

    --informative: 198 93% 60%; // Sky 400
    --informative-foreground: var(--background);

    --successful: 158 64% 52%; // Emerald 400
    --successful-foreground: var(--background);

    --cautionary: 43 96% 56%; // Amber 400
    --cautionary-foreground: var(--background);

    --destructive: 351 95% 71%; // Rose 400
    --destructive-foreground: var(--background);

    @media (prefers-color-scheme: light) {
      --background: 0 0% 98%; // Zinc 50
      --foreground: 240 10% 4%; // Zinc 950

      --border: 240 6% 90%; // Zinc 200

      --muted: 240 5% 96%; // Zinc 100
      --muted-foreground: 240 5% 34%; // Zinc 600

      --accent: 243 75% 59%; // Indigo 600

      --informative: 200 98% 39%; // Sky 600

      --successful: 161 94% 30%; // Emerald 600

      --cautionary: 32 95% 44%; // Amber 600

      --destructive: 347 77% 50%; // Rose 600
    }
  }

  * {
    @apply border-border;
  }

  html {
    @apply bg-background text-muted-foreground;
  }
}

@layer utilities {
  .rich-text {
    @apply prose prose-accent prose-blockquote:border-l-accent prose-headings:scroll-my-36 prose-headings:text-foreground
  }

  .no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}